<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../sources/css/init.css">
    <link rel="stylesheet" href="../sources/css/detail.css">
 
    <title>HuaWeiStore</title>
</head>
<body>
    <div id="fixednav">
        <ul>
            <li>
                <i class="iconfont icon-gouwuche"></i>
                <span>购物车</span>
            </li>
            <li>
                <i class="iconfont icon-gouwuche"></i>
                <span>服务</span>
            </li>
            <li>
                <i class="iconfont icon-gouwuche"></i>
                <span>在线客服</span>
            </li>
            <li>
                <i class="iconfont icon-gouwuche"></i>
                <span>返回顶部</span>
            </li>
            
        </ul>
    </div>
    <header>
        <div id="hd_top">
            <div class="container reset">
                <nav class="hd_top_left floatleft">
                    <ul class="font-size-smalls floatlefts">
                        <li><a class="clearleftpadding" href="">首页</a></li>
                        <li><a href="">华为官网</a></li>
                        <li><a href="">V码(优购码)</a></li>
                        <li><a href="">企业购</a></li>
                        <li><a href="">Select Region</a></li>
                        <li>
                            <a href="" class="hiddenafter increasegap">更多精彩</a>
                            <ul class="hd_to_left_innerul font-size-smalls">
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="hd_top_right floatright">
                    <ul class="font-size-smalls floatlefts">
                        <li><a href="">首页</a></li>
                        <li><a href="">华为官网</a></li>
                        <li><a href="">V码(优购码)</a></li>
                        <li><a href="">企业购</a></li>
                        <li><a href="">Select Region</a></li>
                        <li>
                            <a href="" class="hiddenafter increasegap">更多精彩</a>
                            <ul class="hd_to_left_innerul font-size-smalls">
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                                <li><a href="">Harmony</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="hd_bottom">
            <div class="container reset">
                <div class="logobox"></div>
                <div class="navbox">
                    <nav>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                        <a href="">华为专区</a>
                    </nav>
                </div>
                <div class="search">
                    <i class="iconfont icon-sousuo reset"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
      <div class="detail-product">
          <div class="container detail-path">
              <span>首页<i class="iconfont icon-right-1-copy"></i></span>
              <span class="pathdesc">描述字符</span>
          </div>
          <div class="container detail-panel">
              <div class="aside">
                  <div class="product-small-img-box"></div>
                  <div class="product-small-img-box-ctl">
                     
                      <div class="ctl-small-img">
                          <ul>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                          </ul>
                      </div>
                      <i class="iconfont icon-56 left"></i>
                      <i class="iconfont icon-57 right"></i>
                     
                  </div>
              </div>
              <div class="selectoptions">
                  <p class="title">华为智慧屏 SE 65英寸 超薄电视 广色域鸿鹄画质 4K超高清智能液晶电视机</p>
                   <p><a class="slogan" href="">【智慧屏特惠: 直降900元 到手价2299元 】：①享3期免息 ②购机赠全屏影视会员月卡 | 点击查看更多优惠>></a></p> 
                    <div class="pricemsgbox ">
                        <p>
                            <label>价格</label><span class="pricestyle-red">￥45222</span><del>$31000</del>
                        </p>
                        <p>
                            <label>促销</label><span class="label">限时特惠</span><span>限时直降</span>
                        </p>
                        <p>
                            <label></label><span class="label">分期免息</span><span>银联、花呗、掌上生活、工行分期支付可享免息（免息活动适用于单款免息商品订单，含多</span>
                        </p>
                        <p>
                            <label>促销</label><span class="label">赠送积分</span><span>购买即赠商城积分，积分可抵现</span>
                        </p>
                        
                    </div>
                    <div class="hr-16"></div>
                    <div class="sku-con">
                        <label class="title">服务说明</label> 
                        <div class="content-select">
                             <span class="currentSelect">广东>深圳>福田<i class="iconfont icon-right-1-copy"></i></span>
                             
                             <div class="child-panel">
                                 <p>请选择地址</p>
                                 <p class="addresscontrol"><span>请选择</span><span>请选择</span><span>请选择</span></p>
                                 <div class="addresslist">
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                     <span>广东</span>
                                 </div>
                             </div>
                        </div>
                        <label></label>
                        <p>
                            <span>
                                <i class="iconfont icon-duigou"></i>
                                满48包邮
                            </span>
                            <span>
                                <i class="iconfont icon-duigou"></i>
                                由华为终端提供商品、发货开票及售后服务
                            </span>
                            <span>
                                <a href="">查看详情</a>
                            </span>
                        </p>
                    </div>
                   <div class="sku-con">
                       <label class="title">商品编码</label>
                       <span class="product-id">2555128</span>
                   </div>
                   <div class="hr-16"></div>
                   <div class="sku-con sku-color-select">
                       <label class="title">选择颜色</label>
                       <span class="con-sel">
                           <i class="img"></i>
                            <span class="msg">雅黑</span>
                        </span>
                       <span class="con-sel">
                           <i class="img"></i>
                            <span class="msg">雅黑</span>
                        </span>
                       <span class="con-sel">
                           <i class="img"></i>
                            <span class="msg">雅黑</span>
                        </span>
                       
                   </div>
                   <div class="sku-con comm sku-verson-select" >
                       <label class="title">选择版本</label>
                       <span class="con-sel ">
                           8GB+523GB
                       </span>
                       <span class="con-sel ">
                           8GB+523GB 典藏版
                       </span>
                       <span class="con-sel ">
                        8GB+523GB
                    </span>
                   </div>
                   <div class="sku-con comm sku-verson-select sku-net-select" >
                       <label class="title">选择网络制式</label>
                       <span class="con-sel ">
                           4G全网通
                       </span>
                      
                   </div>
                   <div class="sku-con comm sku-verson-select sku-taoc-select" >
                       <label class="title">选择套餐</label>
                       <span class="con-sel ">
                           单品
                       </span>
                      
                   </div>
                   <div class="sku-con comm sku-verson-select sku-baozhang-select" >
                       <label class="title">保障服务</label>
                       <span class="con-sel ">
                           碎屏保险1年1459
                       </span>
                       <span class="con-sel ">
                           碎屏保险1年1459
                       </span>
                   </div>
                   <div class="sku-con comm sku-verson-select sku-fenqi-select" >
                       <label class="title">保障服务</label>
                       <span class="con-sel ">
                           花呗分期
                           <i class="iconfont icon-right-1-copy"></i>
                       </span>
                       <span class="con-sel ">
                           掌上生活分享
                           <i class="iconfont icon-right-1-copy"></i>
                       </span>
                   </div>
                   <div class="sku-con comm sku-verson-select sku-already-select" >
                       <label class="title">已选商品：</label>
                       <span>白色mataP50</span>
                   </div>
                   <div class="sku-con comm sku-verson-select sku-submit-select" >
                        <div class="number-select">
                            <input type="text"  contenteditable="true">
                            <button class="bt-top">+</button>
                            <button class="bt-bottom">-</button>
                        </div>
                        <button class="add-car">进入购物车</button>
                        <button class="buy">立即购买</button>
                       
                   </div>

                </div>

          </div>
      </div>
      <!-- <div class="random">
          <div class="container random-con">
                <div class="title">
                    热门推荐
                </div>
                <div class="random-product-banner">
                    <div class="host">host</div>
                    <div class="banner-box">banner-box</div>
                </div>
          </div>
      </div> -->
    </main>
    <footer>
        <div class="container ft-top-con">
            <div class="item">
                <i class="iconfont icon-zhiliang"></i>
                <span>百年企业品质保证</span>
            </div>
            <div class="item">
                <i class="iconfont icon-zhiliang"></i>
                <span>百年企业品质保证</span>
            </div>
            <div class="item">
                <i class="iconfont icon-zhiliang"></i>
                <span>百年企业品质保证</span>
            </div>
            <div class="item">
                <i class="iconfont icon-zhiliang"></i>
                <span>百年企业品质保证</span>
            </div>
        </div>
        <div class="container ft-center-con">
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <dl>
                <dt>购物指南</dt>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
                <dd><a href="">免息分期</a></dd>
            </dl>
            <div class="contact">
                    <p class="number">950805</p>
                    <p class="time">7x24小时</p>
                    <span>
                        <i class="iconfont icon-zaixiankefu "></i>
                        <span>在线客服</span>
                    </span>
                    <p class="guanzhu">
                        关注VMALL:
                        <i class="iconfont icon-weixin"></i>
                        <i class="iconfont icon-xinlangweibo"></i>
                        <i class="iconfont icon-toutiaoyangshi"></i>
                        <i class="iconfont icon-baidu"></i>
                    </p>
            </div>
        </div>
        <div class="container ft-bottom-con">
            <div class="ft-logogbox">
            </div>
            <div class="ft-endmsg">
                <nav>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                </nav>
                <nav>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                </nav>
                <nav>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                </nav>
                <nav>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                    <a href="">华为集体</a>
                </nav>

            </div>
            <div class="digitalAllow"></div>
        </div>
    </footer>
</body>
</html>